<div class="container">
  <h2>Fetch URL</h2>
  <form [formGroup]="urlForm">
    <div class="form-group">
      <label for="url">Repository Url</label>
      <input type="text" class="form-control" id="url" formControlName="url"/>
    </div>

    <div class="form-group">
      <label for="accessToken">Access Token</label>
      <input type="accessToken" class="form-control" id="accessToken" formControlName="accessToken"/>
    </div>

    <button type="submit" class="btn btn-primary" (click)="validateAccessToken()"
            [disabled]="urlForm.invalid || isValidating">Validate Access Token
    </button>
    <button type="submit" class="btn btn-primary" (click)="saveRepository()" [disabled]="!isTokenValid">Save URL
    </button>

  </form>

  <div *ngIf="message" class="alert" [ngClass]="{ 'alert-success': isSuccess, 'alert-danger': !isSuccess }">
    {{ message }}
  </div>

  <div class="button-group">
    <button class="btn btn-secondary" [routerLink]="['/']">Home</button>
    <button class="btn btn-secondary" [routerLink]="['/get-repositories']">View saved repositories</button>
    <button class="btn btn-secondary" [routerLink]="['/get-access-tokens']">View saved access tokens</button>
  </div>
</div>
